<%= content_tag_for :li, slider do %>
	<div class="slider-image">    
    <%= link_to(image_tag(slider.image_url(:thumb_200)), slider.image_url(:large), :class => 'single_image') %>
	</div>	
	<div class="slider-meta">
		<%= activate_deactivate_button(slider) %>
	  <%= link_to 'Edit', edit_slider_path(slider), :class=> 'nice small radius white button' %>
	  <%= link_to 'Destroy', slider, :class=> 'nice small radius red button', confirm: 'Are you sure?', method: :delete %>
	</div>
<% end %>
