<%= content_tag_for :li, slider do %>
	<div class="slider-image">
	  <%# link_to image_tag(@product.image_url(:thumb_300) ), @product.image_url(:large), :class => 'single_image' %>	  		
		
    <%#link_to( image_tag(participant.user.profile_pic.url(:small)), user_path(participant.user), :class=>"work") %>
    
    	<%= link_to(image_tag(slider.image_url(:thumb_200)), slider.image_url(:large), :class => 'single_image') %>
	</div>	
	<div class="slider-meta">
		<%= activate_deactivate_button(slider) %>
	    <%= link_to 'Edit', edit_slider_path(slider) %> | 
	    <%= link_to 'Destroy', slider, confirm: 'Are you sure?', method: :delete %>
	</div>
<% end %>
