<h3><span id="name"><%= @invoice.contact.full_name if @invoice.contact %></span></h3>
<p><span id="address"><%= @invoice.contact.address if @invoice.contact %></span><br />
<span id="city_state"><%= @invoice.contact.city_state_zip if @invoice.contact %></span><br />
<span id="email"><%= @invoice.contact.email if @invoice.contact %></span><br />
</p>
<% if @invoice.contact %>
  <p><%= link_to "Edit Subscriber", edit_contact_path(@invoice.contact)%></p>
<% end %>
<p><%= link_to "Email Invoice", '#', :id => 'email-invoice-btn', :class =>"nice small white radius button no-print" %></p>
<br />
<p><%= link_to 'Delete', @invoice, confirm: 'Are you sure?', method: :delete, :class =>"nice small red radius button no-print"%></p>

<script>
$(document).ready(function(){
  $('#email-invoice-btn').click(function(evt) {
    $('#email-invoice-modal').reveal();
    evt.preventDefault();

                      // This will set the value of the email for when the butten is clicked..
    varEmail = $('span#email').html();
    $('input#email').val(varEmail);

  });
});
</script>