<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br />
    <%= f.text_field :subtotal %>
  </div>
  <div class="field">
    <%= f.label :grand_total %><br />
    <%= f.text_field :grand_total %>
  </div>
  <div class="field">
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :subscriber_id %><br />
    <%= f.number_field :subscriber_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
