<tr>
  <td><%= link_to invoice.inv_number, invoice %></td>
  <td><%= link_to invoice.inv_date, invoice %></td>
  <td><%= link_to invoice.title, invoice %></td>
  <td class="currency"><%= link_to number_to_currency(invoice.calc_sub_total), invoice %></td>
  <td class="currency"><%= link_to number_to_currency(invoice.calc_grand_total), invoice %></td>
  <td>
    <% if invoice.contact %>
      <%= link_to invoice.contact.full_name, invoice.contact %>
    <% end %>
  </td>
  <td class="delete center">
    <%= link_to 'X', invoice, :data => {confirm: 'Are you sure?'}, method: :delete %>
  </td>
</tr>
