<%= form_for([@invoice, LineItem.new], :remote => true, :html => {:class=> "nice"}) do |f| %>
 <tr class="add-item-row">
    <td class='cell-1'></td>
    <td class='cell-2'><%= f.text_field :item_number, :class => "ex-small input-text", :placeholder => "item" %></td>
    <td class='cell-3'><%= f.text_field :description, :class => "input-text", :placeholder => "description" %></td>
    <td class='cell-4'><%= f.text_field :dimensions, :class => "ex-small input-text", :placeholder => "dimensions" %></td>
    <td class='cell-5'><%= f.text_field :quantity, :class => "ex-small input-text", :placeholder => "qty" %></td>
    <td class='cell-6'><%= f.text_field :price, :class => "ex-small input-text", :placeholder => "price" %></td>
    <td class='cell-7'></td>
    <td class='cell-8'></td>
    <td class='cell-9'><%= f.submit 'Add Line', :class => "nice small radius button submit-line-item" %></td>
  </tr>
<% end %>
