<h3><span id="name"><%= @invoice.subscriber.full_name if @invoice.subscriber %></span></h3>
<p><span id="address"><%= @invoice.subscriber.address if @invoice.subscriber %></span><br />
<span id="city_state"><%= @invoice.subscriber.city_state_zip if @invoice.subscriber %></span><br />
<span id="email"><%= @invoice.subscriber.email if @invoice.subscriber %></span><br />
</p>
<%# if @invoice.subscriber and @invoice.subscriber.email %>
  <%# button_to 'Email Invoice', email_invoice_path(@invoice),
          confirm: "Email to #{@invoice.subscriber.email}. Are you sure?",
          :class => "nice small white radius button no-print" %>
<%# end %>
<% if @invoice.subscriber %>
  <p><%= link_to "Edit Subscriber", edit_subscriber_path(@invoice.subscriber)%></p>
<% end %>
<p><%= link_to 'Email Invoice', "#", :id => "email-invoice-btn", :class =>"nice small white radius button no-print" %></p>
