<h1>Listing invoices</h1>

<table class="invoice table-bordered sortable">
  <thead>
  <tr>
    <th><%= sortable 'id', "Number" %></th>
    <th><%= sortable "title", "Title" %> </th>
    <th>Subtotal</th>
    <th>Grand total</th>
    <th>Tax</th>
    <th>Subscriber</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody id="invoices">
  <%= render @invoices %>
</tbody>
</table>

<div id="paginator">
  <%= paginate @invoices, :remote => true %>
</div>
<br />

<%= link_to 'New Invoice', new_invoice_path %>
