<h1>Listing invoices</h1>

<table class="invoice table-bordered ">
  <tr>
    <th>Title</th>
    <th>Subtotal</th>
    <th>Grand total</th>
    <th>Tax</th>
    <th>Subscriber</th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.title, invoice %></td>
    <td><%= link_to number_to_currency(invoice.calc_sub_total), invoice %></td>
    <td><%= link_to number_to_currency(invoice.calc_grand_total), invoice %></td>
    <td><%= link_to number_to_currency(invoice.calc_total_tax), invoice %></td>
    <td><%= link_to invoice.subscriber.full_name, invoice.subscriber %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice', new_invoice_path %>
