<p id="notice"><%= notice %></p>

<div customer>
  <%= @invoice.subscriber.name_and_address.html_safe %>

</div>

<p>
  <b>Title:</b>
  <%= @invoice.title %>
</p>

<p>
  <b>Subtotal:</b>
  <%= @invoice.subtotal %>
</p>

<p>
  <b>Grand total:</b>
  <%= @invoice.grand_total %>
</p>

<p>
  <b>Tax:</b>
  <%= @invoice.tax %>
</p>



<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
