  <div class="customer">
    <p>
      <%= @subscriber.full_name %><br />
      <%= @subscriber.address %><br />
      <%= @subscriber.city_state_zip %><br />
      <%= @subscriber.email %>
    </p>
  </div>

<p>
  <b>Invoice Title: </b><%= @invoice.title %><br />
  <b>Invoice Number: </b><%= @invoice.id %><br />
  <b>Date: </b><%= @invoice.inv_date.strftime('%m/%d/%Y') %>
</p>

<ul>
    <li><%= link_to "View as PDF", invoice_path(@invoice, :format => 'pdf'),:class => "nice small white radius button no-print"%></li>
  <% unless @subscriber.email.nil? %>
    <li><%= button_to 'Email Invoice', email_invoice_path(@invoice), confirm: "Email to #{@subscriber.email}. Are you sure?", :class => "nice small white radius button no-print" %></li>
<% end %>
    <li><%= link_to 'Edit', edit_invoice_path(@invoice), :class => "nice small white radius button no-print" %></li>

</ul>

  <table class="invoice table-bordered ">
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th>Description</th>
        <th>Dimensions</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Tax</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="line_items">
      <%= render @invoice.line_items %>
    </tbody>
  </table>

  <div class="new-item">
      <%= form_for([@invoice, LineItem.new], :remote => true, :html => {:class=> "nice"}) do |f| %>
      <ul>
          <li><%= f.text_field :item_number, :class => "ex-small input-text", :placeholder => "item" %></li>
          <li><%= f.text_field :description, :class => "input-text", :placeholder => "description" %></li>
          <li><%= f.text_field :dimensions, :class => "small input-text", :placeholder => "dimensions" %></li>
          <li><%= f.text_field :quantity, :class => "ex-small input-text", :placeholder => "qty" %></li>
          <li><%= f.text_field :price, :class => "ex-small input-text", :placeholder => "price" %></li>
          <li><%= f.text_field :tax, :class => "ex-small input-text", :placeholder => "tax" %></li>
          <li><%= f.submit 'Add Line', :class => "nice small radius button" %></li>
      </ul>
      <% end %>
  </div>
  <table class="totals table-bordered">
    <tr>
      <td>Subtotal</td><td class="sub_total currency"><%= number_to_currency(@invoice.calc_sub_total) %></td>
    </tr>
    <tr>
      <td>Tax</td><td class="tax currency"><%= number_to_currency(@invoice.calc_tax_total) %></td>
    </tr>
    <tr>
      <td>Grand Total</td><td class="grand_total currency"><%= number_to_currency(@invoice.calc_grand_total) %></td>
    </tr>
  </table>


<script>
$(document).ready(function(){
  $('#add').click(function() {

    if ($("#add-product").is(":hidden")) {
    $("#add-product").slideDown("slow");
    $("#add").text('Hide');
    } else {
    $("#add-product").slideUp('slow');
    $("#add").text('Add')

    }
    return false;
  });
});
</script>

<style>
  #add-product{
    display:none;
  }
</style>

<div>
  <%= link_to "add", "#", :id => 'add', :class => "nice small white radius button no-print" %>
</div>

<div id="add-product">
  <ul>
  <% Product.all.each do |product| %>
    <li><%= button_to "Add #{product.title}", add_product_to_invoice_path(@invoice, :product_id => product.id), :remote => true %></li>
  <% end %>
  </ul>
</div>

