  <div class="row-fluid">
    <div class="span4">
        <div class="contact info well">
          <%= render 'contact' %>

        </div>
    </div>

    <div class="span4">
        <div class="invoice info well">
          <h3><span id="inv-number">Inv #<%= @invoice.inv_number %></span></h3>
          <span id="inv-title"><%= @invoice.title %></span><br />
          <span id="inv-date"><%= @invoice.inv_date %></span>
        </div>
    </div>

    <div class="span4">
      <div class="form info well">
      <%= form_for(@invoice, :html =>{:class => 'nice customer'}, :url => @invoice, :remote => true) do |f| %>
        <div class="field">
          <%= f.select("contact_id", Contact.all.collect {|c| [ c.full_name, c.id ]}, {:include_blank =>"None"}, :class=> "large input-text")%>
        </div>
        <div class="field">
          <%= f.text_field :title, :class=> "input-text", :id => 'title', :placeholder => "Title" %>
        </div>
        <div class="field">
          <%= f.text_field :inv_date, :class=> "input-text datepicker", :id => 'inv_date', :placeholder => "Date MM/DD/YYYY" %>
        </div>
        <div class="field">
          <%= f.hidden_field :price_header, :value => "Price" %>
        </div>
        <% end %>
      </div>
    </div>

  </div>

<div class="row-fluid">
  <span class="span12">
      <table class="invoice table-bordered ">
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
            <th>Description</th>
            <th>Dimensions</th>
            <th>Qty</th>
            <th class="price" rel="popover" data-content="to toggle between Price & Net Price." data-original-title="Click">
              <%=@invoice.price_header %>
            </th>
            <th>Total</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="line_items">
          <%= render @invoice.line_items %>
        </tbody>
      </table>
    </span>
</div>


<div id="add-new-line-item" class="row-fluid new-item">
  <span class="span12">
    <table>
      <tbody>
        <%= render 'new_line_item' %>
      </tbody>
    </table>
  </span>
</div>

<div class="row-fluid">
  <span class="span8">
    <p>
    <%= link_to "Add New Line Item", "#", :id => 'add-new-line-btn', :class => "nice small white radius button no-print" %>
    <%= link_to "Add Product from Inventory", "#", :id => 'add-inventory-btn', :class => "nice small white radius button no-print" %>
    <%= link_to "View as PDF", invoice_path(@invoice, :format => 'pdf'), :class => "nice small white radius button no-print"%>
  </p>
  </span>

  <span class="span4">
    <table id="totals" class="totals table-bordered">
      <tr>
        <td>Subtotal</td>
        <td class="sub_total currency"><%= number_to_currency(@invoice.calc_sub_total) %></td>
      </tr>
      <tr class="tax-row" rel="popover" data-content="to adjust tax." data-original-title="Click">
        <td>Tax</td>
        <td class="tax currency"><%= number_to_currency(@invoice.calc_tax_total) %></td>
      </tr>
      <tr class="shipping-row">
        <td>Shipping</td>
        <td class="shipping currency">
          <%= number_to_currency(@invoice.shipping) %>
        </td>
      </tr>
      <tr>
        <td>Grand Total</td>
        <td class="grand_total currency"><%= number_to_currency(@invoice.calc_grand_total) %></td>
      </tr>
    </table>
  </span>
</div>


<div id="add-tax-modal" class="reveal-modal">
     <h2>Tax & Shipping</h2>
     <%= form_for(@invoice, :html =>{:class => 'nice', :id => 'tax-frm'}, :url => @invoice, :remote => true) do |f| %>
       <div class="field">
         <%= f.text_field :tax, :class=> "input-text", :id => 'tax', :placeholder => "Tax" %>
       </div>
       <div class="field">
         <%= f.text_field :shipping, :class=> "input-text", :id => 'shipping', :placeholder => "Shipping" %>
       </div>
       <div class="field">
         <%= f.submit "Save", :class => "tax-save-btn" %>
       </div>
      <% end %>
     <a class="close-reveal-modal">&#215;</a>
</div>



<div id="add-inventory-modal" class="reveal-modal large">
     <h2>Add Product from Inventory.</h2>
       <% Product.not_sold.each do |product| %>
          <div class="row">
           <div class="span1">
             <p>
               <%= image_tag (product.image_url(:thumb_50) ) if product.image? %>
             </p>
           </div>
           <div class="span3">
             <p>
               <%= button_to "Add #{product.title}", invoice_add_product_path(@invoice, :product_id => product.id), :remote => true, :class => 'add-inv-product' %>

             </p>
           </div>
          </div>
       <% end %>
     <a class="close-reveal-modal">&#215;</a>
</div>

<div id="email-invoice-modal" class="reveal-modal">
    <h3>Send Email to</h3>
      <%= form_for(:send_to, :html =>{:class => 'nice', :id => "email-frm"}, :url => email_invoice_path(@invoice), :remote => true) do |f| %>
        <div class="field">
          <%= f.text_field :email, :class=> "input-text", :id => 'email', :placeholder => "Email"  %>
        </div>
        <div class="field">
          <%= f.submit "Send", :class => "email-send-btn" %>
        </div>
      <% end %>
   <a class="close-reveal-modal">&#215;</a>
</div>


<script>
  //monitors the Customer select and submits the form
  $('#invoice_contact_id').change(function()
    {
      $('.customer').submit();
    });
  $('#inv_date').change(function()
    {
      $('.customer').submit();
    });
  $('#title').blur(function()
    {
      $('.customer').submit();
    });


</script>

<% if show_tooltips? %>
  <script>
    $('.tax-row').popover({placement:'left'});
    $('.price').popover({placement:'top'});

    $('.tax-row').popover('toggle');
    $('.price').popover('toggle');

    $('.popover').delay(1300).fadeOut('slow');

  </script>
<% end %>