<p id="notice"><%= notice %></p>

<div class="customer">
  <%= @invoice.subscriber.name_and_address.html_safe %>
</div>

<p>
  <b>Title:</b>
  <%= @invoice.title %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %> |
<%= link_to "PDF Invoice", invoice_path(@invoice, :format => 'pdf')%>

<table class="invoice table-bordered ">
  <thead>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Description</th>
      <th>Dimensions</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Tax</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <!-- <tfoot>
    <%= form_for([@invoice, LineItem.new], :remote => true, :html => {:class=> "nice"}) do |f| %>
    <tr>

        <td><%= f.text_field :item_number, :class => "ex-small input-text", :placeholder => "item" %></td>
        <td><%= f.text_field :description, :class => "input-text", :placeholder => "description" %></td>
        <td><%= f.text_field :dimensions, :class => "small input-text", :placeholder => "dimensions" %></td>
        <td><%= f.text_field :quantity, :class => "ex-small input-text", :placeholder => "qty" %></td>
        <td><%= f.text_field :price, :class => "ex-small input-text", :placeholder => "price" %></td>
        <td><%= f.text_field :tax, :class => "ex-small input-text", :placeholder => "tax" %></td>
        <td><%= f.submit 'Add Line', :class => "nice small radius button" %></td>
    </tr>
    <% end %>

  </tfoot> -->
  <tbody class="line_items">
    <%= render @invoice.line_items %>
  </tbody>
</table>

<div class="new-item">
    <%= form_for([@invoice, LineItem.new], :remote => true, :html => {:class=> "nice"}) do |f| %>
    <ul>
        <li><%= f.text_field :item_number, :class => "ex-small input-text", :placeholder => "item" %></li>
        <li><%= f.text_field :description, :class => "input-text", :placeholder => "description" %></li>
        <li><%= f.text_field :dimensions, :class => "small input-text", :placeholder => "dimensions" %></li>
        <li><%= f.text_field :quantity, :class => "ex-small input-text", :placeholder => "qty" %></li>
        <li><%= f.text_field :price, :class => "ex-small input-text", :placeholder => "price" %></li>
        <li><%= f.text_field :tax, :class => "ex-small input-text", :placeholder => "tax" %></li>
        <li><%= f.submit 'Add Line', :class => "nice small radius button" %></li>
      </ul>
    <% end %>
</div>
<table class="totals table-bordered">
  <tr>
    <td>Subtotal</td><td class="sub_total currency"><%= number_to_currency(@invoice.calc_sub_total) %></td>
  </tr>
  <tr>
    <td>Tax</td><td class="tax currency"><%= number_to_currency(@invoice.calc_total_tax) %></td>
  </tr>
  <tr>
    <td>Grand Total</td><td class="grand_total currency"><%= number_to_currency(@invoice.calc_grand_total) %></td>
  </tr>
</table>


