
  <div class="row">
    <div class="span4">
        <p>
          <%= form_for([@invoice, @subscriber], :html =>{:class => 'nice customer'}, :url => @invoice, :remote => true) do |f| %>
            <div class="field">
              <%= f.label :id, "Customer" %><br />
              <%= f.select("id", Subscriber.all.collect {|s| [ s.full_name, s.id ] }, :class=> "large input-text")%>
            </div>
            <!-- <div class="actions">
              <%= f.submit "Save", :class => "nice small radius button" %>
            </div> -->
          <% end %>
        </p>
          <%= link_to 'Edit', edit_invoice_path(@invoice), :class => "nice small white radius button no-print" %>
        </p>
    </div>

    <div class="span4">
      <p id="subscriber-info">
        <span id="name"><%= @subscriber.full_name %></span><br />
        <span id="address"><%= @subscriber.address %></span><br />
        <span id="city_state"><%= @subscriber.city_state_zip %></span><br />
        <span id="email"><%= @subscriber.email %>
      <p>
    </div>

    <div class="span4">
      <p>
        <%= form_for(@invoice, :html =>{:class => 'nice inv_date'}, :remote => true) do |f| %>
          <div class="field">
            <%= f.text_field :inv_date, :class=> "input-text datepicker", :id => 'inv_date', :placeholder => "Date MM/DD/YYYY" %>
          </div>
          <div class="actions">
              <%# f.submit "Save", :class => "nice small radius button" %>
          </div>
        <% end %>

        <b>Invoice Title: </b><%= @invoice.title %><br />
        <b>Invoice Number: </b><%= @invoice.id %><br />
        <b>Date: </b><%= @invoice.inv_date.strftime('%m/%d/%Y') %>
      </p>
    </div>
  </div>

<div class="row">
  <span class="span12">
      <table class="invoice table-bordered ">
        <thead>
          <tr>
            <th></th>
            <th>Item</th>
            <th>Description</th>
            <th>Dimensions</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="line_items">
          <%= render @invoice.line_items %>
        </tbody>
      </table>
    </span>
</div>


<div id="add-new-line-item" class="row new-item">
  <span class="span12">
    <%= render 'new_line_item' %>
  </span>
</div>

<div class="row">
  <span class="span8">
    <p>
    <%= link_to "Add New Line Item", "#", :id => 'add-new-line-btn', :class => "nice small white radius button no-print" %>
    <%= link_to "Add Product from Inventory", "#", :id => 'add-inventory-btn', :class => "nice small white radius button no-print" %>
    <%= link_to "View as PDF", invoice_path(@invoice, :format => 'pdf'), :class => "nice small white radius button no-print"%>
    <% unless @subscriber.email.nil? %>
      <%= button_to 'Email Invoice', email_invoice_path(@invoice),
              confirm: "Email to #{@subscriber.email}. Are you sure?",
              :class => "nice small white radius button no-print" %>
    <% end %>
  </p>
  </span>

  <span class="span4">
    <table class="totals table-bordered">
      <tr>
        <td>Subtotal</td>
        <td class="sub_total currency"><%= number_to_currency(@invoice.calc_sub_total) %></td>
      </tr>
      <tr>
        <td>Tax</td>
        <td class="tax currency"><%= number_to_currency(@invoice.calc_tax_total) %></td>
      </tr>
      <tr>
        <td>Grand Total</td>
        <td class="grand_total currency"><%= number_to_currency(@invoice.calc_grand_total) %></td>
      </tr>
    </table>
  </span>
</div>


<div id="add-inventory-modal" class="reveal-modal">
     <h2>Add Product from Inventory.</h2>
       <% Product.all.each do |product| %>
          <div class="row">
           <div class="span1">
             <p>
               <%= image_tag(product.image_url(:thumb_50) )  %>
             </p>
           </div>
           <div class="span3">
             <p>
               <%= button_to "Add #{product.title}", add_product_to_invoice_path(@invoice, :product_id => product.id), :remote => true, :class => 'add-inv-product' %>

             </p>
           </div>
          </div>
       <% end %>
     <a class="close-reveal-modal">&#215;</a>
</div>

<script>
  $('#subscriber_id').change(function()
    {
      $('.customer').submit();
      });

  $('#inv_date').change(function()
    {
      $('.inv_date').submit();
    });

</script>