<<<<<<< HEAD
<ul id="admin-console">
	<li><%= link_to 'Home Page Images', sliders_path %></li>
	<li><%= link_to 'Sidebar Categories', categories_path %></li>
=======
<ul>
	<li><%= link_to 'Manage Home Page Images', sliders_path %></li>
	<li><%= link_to 'Manage Sidebar Categories', categories_path %></li>
>>>>>>> 155df5c196845e601546793c68862416eb7b97e6
	<li><%= link_to 'Manage Products', products_path %></li>
	<li><%= link_to 'New Product', new_product_path %></li>
</ul>	