= content_tag(:tr, contact) do
  %td= link_to contact.full_name, contact
  %td= link_to contact.email, contact
  %td= contact.address
  %td= contact.city
  %td= contact.state
  %td= contact.zip
  %td.delete.center
    = link_to 'X', remove_contact_from_group_path(@group, contact), :data => {confirm: 'Are you sure?'}, method: :delete
