.row
  .span12
    %h1
      = @group.title
      Group
.row
  .span2
    .well
      %h2 Groups
      %ul.nav.nav-list
        %li= link_to 'All Subscribers', contacts_path
        %li
          = render @groups
        %li= link_to 'New Group', new_group_path, :class => 'nice small radius button'
    - if @group
      %div
        %ul.nav.nav-list
          %li= link_to 'Delete Group', @group, :data => {confirm: "Are you sure?\n All group members will be lost."}, method: :delete, :class => 'nice small radius button'
  .span10
    %table#contacts.table-bordered
      %thead
        %tr
          %th Name
          %th Email
          %th Address
          %th City
          %th State
          %th Zip
          %th
      %tbody
        = render :partial => "contact", :collection => @group.contacts
    #pager
      %form
        %span.prev ‹ Prev
        %input.pagedisplay{:type => "text"}
        %span.next Next ›
        %select.pagesize
          %option{:selected => "selected", :value => "10"} 10
          %option{:value => "20"} 20
          %option{:value => "30"} 30
          %option{:value => "40"} 40
    = link_to "New Subscriber", new_contact_path, :class => 'nice small radius button'
    - if @group
      = link_to "Add Group Members", "#", :class => 'nice small radius button assign-group-btn'
  - if @group
    #assign-members-modal.reveal-modal
      %h2 Add Members to Group
      %ul
        - @non_members.each do |contact|
          %li= link_to contact.full_name, apply_contact_to_group_path(@group, contact), :method => :post
      %a.close-reveal-modal ×
