<div id="search-container">

  <p id="page_headline">SEARCH</p>

  <div id="search-box">
  <p>Search by keyword:</p>
  <%= form_tag search_path, :method => :get do %>
    <%= text_field_tag :query, params[:query] %> <%= submit_tag "Find!" %>
  <% end %>
  <p id="bottom-search-tagline"><b>Please select a search phrase to search product descriptions</b></p>
  </div>


  <div id="search-results">
    <% if @results %>
      <ol>
        <% @results.each do |result| %>
          <li>
            <h4><%=link_to result.title, result %></h2>
            <p><%= read_more(result) %></p>
          </li>
        <% end %>  
      </ol>
      <p><em>Your search found <b><%=  @results.count.to_s %></b> results.</em></p>
    <% end %>
  </div>  
</div>
