<div id="search-container">

  <p id="page_headline">SEARCH</p>

  <div id="search-box">
  <%= form_tag search_path, :method => :get, :class => 'nice' do %>
    <div class="field">
      <%= text_field_tag :query, params[:query], :class => 'input-text' %>
    </div>
    <div class="actions">  
       <%= submit_tag "Find!", :class => 'small white nice button radius' %>
    </div>   
  <% end %>
  </div>


  <div id="search-results">    
    <% if @results %>
    <p><em>Your search found <b><%=  @results.count.to_s %></b> results.</em></p>
    
      <ul>
        <% @results.each do |result| %>
          <li>
            <span class="block search-photo">
              <%= link_to image_tag(result.image_url(:thumb_100) ), result if result.image? %>
            </span>
            <span class="block search-meta">
              <h4><%= link_to result.item_number, result %> - <%=link_to result.title, result %></h4>
              <p><%= read_more(result) %></p>
            </span>
          </li>
        <% end %>  
      </ul>
      <%# @results.paginate %>
    <% end %>
  </div>  
</div>
