<div id="search-container">
  <%= render 'shared/heading', :heading => 'search' %>
  <div id="search-box">
    <%= form_tag search_path, :method => :get, :class => 'nice' do %>
      <%= content_tag :div, text_field_tag(:query, params[:query], :class => 'input-text'), class: :field %>
      <%= content_tag :div, submit_tag("Find", :class => 'small white nice button radius'), class: :actions %>
    <% end %>
  </div>

  <div id="search-results">
    <% if @products %>
      <p>
        <em>Your search found <b><%=  @products.count.to_s %></b> results.</em>
      </p>

      <ul>
        <%= render partial: 'product', collection: @products %>
      </ul>
    <% end %>
  </div>
</div>
