.row
  .span12
.row
  .span2
    .well
      %h2 Groups
      %ul.nav.nav-list
        %li= link_to 'All Subscribers', contacts_path
        %li
          = render @groups
        %li= link_to 'New Group', new_group_path, :class => 'nice small radius button'
  .span10
    = form_tag contacts_path, :method => :get, :class => 'nice' do
      .field
        = text_field_tag :query, params[:query], :class => 'input-text'
        = submit_tag "Find", :class => 'small white nice button radius'
    %table#contacts.table-bordered
      %thead
        %tr
          %th Name
          %th Email
          %th Address
          %th City
          %th State
          %th Zip
      %tbody
        = render @contacts
    #pager
      %form
        %span.prev
          %a{:href => "#"} ‹ Prev
        %input.pagedisplay{:type => "text"}/
        %span.next
          %a{:href => "#"} Next ›
        %select.pagesize
          %option{:selected => "selected", :value => "10"} 10
          %option{:value => "20"} 20
          %option{:value => "30"} 30
          %option{:value => "40"} 40
    = link_to "New Subscriber", new_contact_path, :class => 'nice small radius button'
  - if @group
    #assign-members-modal.reveal-modal
      %h2 Add Members to Group
      %ul
        - @non_members.each do |contact|
          %li= link_to contact.full_name, group_path(@group, :contact_id => contact), :method => :put
      %a.close-reveal-modal ×

