<script>
  $(document).ready(function(){
      $("#contacts")
          .tablesorter({widthFixed: true, widgets: ['zebra']})
          .tablesorterPager({container: $("#pager")});

     $('.assign-group-btn').click(function(evt) {
          $('#assign-members-modal').reveal();
          evt.preventDefault();
     });

  });
</script>

<% if @group %>
  <div class="row">
    <div class="span12">
      <h1><%= @group.title %> Group</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span2">
    <div class="well">
      <h2>Groups</h2>
      <ul class="nav nav-list">
        <li><%= link_to 'All Subscribers', contacts_path %><li>
        <%= render @groups %>
        <li><%=link_to 'New Group', new_group_path, :class => 'nice small radius button' %></li>
      </ul>
    </div>

    <% if @group %>
    <div>
      <ul class="nav nav-list">
        <li><%=link_to 'Delete Group', @group, confirm: "Are you sure?\n All group members will be lost", method: :delete, :class => 'nice small radius button' %></li>
      </ul>
    </div>
    <% end %>
  </div>

  <div class="span10">
    <table id="contacts" class="table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
    </thead>
    <tbody>
      <%= render @contacts %>
    </tbody>
    </table>

    <div id="pager">
      <form>
        <span class="prev">‹ Prev</span>
        <input type="text" class="pagedisplay">
        <span class="next">Next ›</span>
        <select class="pagesize">
          <option selected="selected" value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
        </select>
      </form>
    </div>

    <%= link_to "New Subscriber", new_contact_path, :class => 'nice small radius button' %>
    <% if @group %>
      <%= link_to "Add Group Members", "#", :class => 'nice small radius button assign-group-btn' %>
    <% end %>
  </div>

  <% if @group %>
      <div id="assign-members-modal" class="reveal-modal">
        <h2>Add Members to Group</h2>
        <ul>
        <% @non_members.each do |contact| %>
            <li><%=link_to contact.full_name, group_path(@group, :contact_id => contact), :method => :put %></li>
        <% end %>
        </ul>
        <a class="close-reveal-modal">&#215;</a>
      </div>
  <% end %>

</div>
