<div class="row">
  <div class="span4">
    <div class="well">
      <h2><%= @contact.full_name %></h2>
      <p class="contact-vitals">
        <%= @contact.address %><br />
        <%= @contact.city_state_zip %><br />
        <%= @contact.email %><br />
      </p>
      <p>
        <%= link_to 'Edit', edit_contact_path(@contact), :class => "nice small white radius button" %>
        <%= link_to 'Destroy', @contact, confirm: "Are you sure? \n\n #{@note}", method: :delete, :class => "nice small white radius button" %>
        <%= link_to 'Assign Group', '#', :id => 'assign-btn', :class => "nice small white radius button"  %>
     </p>
      <br />
      <ul>
        <% @contact.groups.each do |group|%>
          <li><i class="icon-user"></i><%= link_to group.title, group_contacts_path(group) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="span8">
    <h2><%= @contact.full_name %> - Invoices</h2>
    <table class="invoice table-bordered ">
      <thead>
      <tr>
        <th>Title</th>
        <th>Subtotal</th>
        <th>Grand total</th>
      </tr>
      </thead>
      <% @contact.invoices.each do |invoice| %>
        <tr>
          <td><%= link_to invoice.title, invoice %></td>
          <td class="currency"><%= link_to number_to_currency(invoice.calc_sub_total), invoice %></td>
          <td class="currency"><%= link_to number_to_currency(invoice.calc_grand_total), invoice %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to 'New Invoice', invoice_contact_setup_path(Invoice, @contact), :method => 'post', :class => "nice small blue radius button" %>
    </div>
</div>
<h2>Assign to Group</h2>
 <ul>
  <% Group.all.each do |group|%>
    <li><%= link_to group.title, contact_path(@contact, :group_id => group), :method => :put  %></li>
  <% end %>
  <li><%= link_to 'Assign to a Group', "#", :class => 'assign-grp-btn' %></li>
</ul>


<div id="assign-group-modal" class="reveal-modal">
  <h2>Assign to Group</h2>
   <ul>
    <% Group.all.each do |group|%>
      <li><%= link_to group.title, contact_path(@contact, :group_id => group), :method => :put  %></li>
    <% end %>
    <li><%= link_to 'Assign to a Group', "#", :class => 'assign-grp-btn' %></li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>

</script>

