<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Please contact me.</h1>
    <p><b>Name:</b> <%= @contact.name%></p>
    <p><b>Address:</b> <%= @contact.address.to_s %></p>
    <p><b>City:</b> <%= @contact.city.to_s %></p>
    <p><b>State:</b> <%= @contact.state.to_s %></p>
    <p><b>Zip:</b> <%= @contact.zip.to_s %></p>
    <p><b>Email:</b> <%= @contact.email.to_s %></p>
    <p><b>Comments:</b> <%= @contact.comments.to_s %></p>
  </body>
</html>