<% if user_signed_in? %>
	<script language="javascript">
		$(document).ready(function(){
			$('#measurements').sortable({
				update: function(event, ui) {
					var MeasurementsOrder = $(this).sortable('toArray');
					$.post( 'measurements/sort', {MeasurementsOrder:MeasurementsOrder});
				}
			});
		});
	</script>
<% end %>


<%= link_to "Back", product_path(@product), :class => 'back' %>
<h1 class="status">Product Dimensions</h1>

<div class="column-container">

  <div id="preview" class="left-column">
  	<%= link_to image_tag(@product.image_url(:thumb_200) ), @product.image_url(:large), :class => 'single_image measurement_image' %>	  		

    <em>Preview</em><br />
    <%= full_dimensions(@product) %>
  </div>

  <div class="right-column">
    <ul id="measurements">
    <% @measurements.each do |measurement| %>
    	<%= content_tag_for :li, measurement do %>
    	    <%= measurement.dimension %>
    	    <%= measurement.amount %>
    	    <%= measurement.unit_of_measure %>
    	    <%= link_to 'Edit', edit_measurement_path(measurement) %>
    	    <%= link_to 'Destroy', measurement, confirm: 'Are you sure?', method: :delete %>
    	<% end %>
    <% end %>
    </ul>
  </div>
</div>

<div id="new-measurement">
	<%= render 'form' %>
</div>

<script language="javascript">
$(document).ready(function() {
	/* This is basic - uses default settings */
	$("a.single_image").fancybox();
	/* Using custom settings */
});
</script>

