<% if user_signed_in? %>
	<script language="javascript">
		$(document).ready(function(){
			$('#measurements').sortable({
				update: function(event, ui) {
					var MeasurementsOrder = $(this).sortable('toArray');
					$.post( 'measurements/sort', {MeasurementsOrder:MeasurementsOrder});
				}
			});
		});
	</script>
<% end %>


<%= link_to "Back", product_path(@product), :class => 'back' %>

<h1 class="status">Product Dimensions</h1>
<%= link_to image_tag(@product.image_url(:thumb_200) ), @product.image_url(:large), :class => 'single_image measurement_image' %>	  		

  
<% unless @measurements.empty? %>

    <ul id="measurements">
    <% @measurements.each do |measurement| %>
    	<%= content_tag_for :li, measurement do %>
        <%= formated_dimension(measurement) %>
    	  <%# link_to 'Edit', edit_measurement_path(measurement) %><br />
    	<% end %>
    <% end %>
    </ul>

<% end %>

<p>These items can be sorted. The order they appear in on this page is also the order they will be displayed in on the product page.</p>  

<div id="new-measurement">
	<%= render 'form' %>
</div>

<script language="javascript">
$(document).ready(function() {
	/* This is basic - uses default settings */
	$("a.single_image").fancybox();
	/* Using custom settings */
});
</script>

