<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @measurement.position %>
</p>

<p>
  <b>Dimension:</b>
  <%= @measurement.dimension %>
</p>

<p>
  <b>Amount:</b>
  <%= @measurement.amount %>
</p>

<p>
  <b>Unit of measure:</b>
  <%= @measurement.unit_of_measure %>
</p>

<p>
  <b>Product:</b>
  <%= @measurement.product_id %>
</p>


<%# link_to 'Edit', edit_measurement_path(@measurement) %> |
<%# link_to 'Back', measurements_path %>
