<table class="invoice table-bordered ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
</thead>
<tbody>

<% @subscribers.each do |subscriber| %>
  <tr>
    <td><%= link_to subscriber.full_name, subscriber %></td>
    <td><%= link_to subscriber.email, subscriber %></td>
    <td><%= subscriber.address %></td>
    <td><%= subscriber.city %></td>
    <td><%= subscriber.state %></td>
    <td><%= subscriber.zip %></td>
  </tr>
<% end %>
</tbody>
</table>