<p>
  <%= @subscriber.full_name %><br />
  <%= @subscriber.address %><br />
  <%= @subscriber.city_state_zip %><br />
  <%= @subscriber.email %>
</p>

<table class="invoice table-bordered ">
  <thead>
  <tr>
    <th>Title</th>
    <th>Subtotal</th>
    <th>Grand total</th>
  </tr>
  </thead>
  <% @subscriber.invoices.each do |invoice| %>

  <tr>
    <td><%= link_to invoice.title, invoice %></td>
    <td class="currency"><%= link_to number_to_currency(invoice.calc_sub_total), invoice %></td>
    <td class="currency"><%= link_to number_to_currency(invoice.calc_grand_total), invoice %></td>
  </tr>

  <% end %>
</table>

<%= link_to 'Edit', edit_subscriber_path(@subscriber) %> |
<%= link_to 'Destroy', @subscriber, confirm: 'Are you sure?', method: :delete %><br /><br />
<%= link_to 'New Invoice', invoice_subscriber_setup_path(Invoice, @subscriber), :method => 'post', :class => "nice small blue radius button  " %>

