
<% if user_signed_in? %>
	<script language="javascript">
		$(document).ready(function(){
			$('#products').sortable({
				update: function(event, ui) {
					var ProductsOrder = $(this).sortable('toArray');
					$.post( 'sort', {ProductsOrder:ProductsOrder});
				}
			});
		});
	</script>
<% end %>


<p id="page_headline"><%= upcase_title(@category) %></p>
  <% if @tags.size > 0 %>
  <ul id="products">  
  	<% @tags.each do |tag| %>		
  		<%= content_tag_for :li, tag do %>
  			<span class="block photo">
  				<%= link_to image_tag(tag.product.image_url(:thumb_200) ), tag.product if tag.product.image? %>
  			</span>
  			<span class="block meta">
  			  <ul>
    			  <li><h3><%= link_to tag.product.title, tag.product %></h3></li>
    				<li><%= country_and_period(tag.product) %> </li>
      		  <li>Inventory Number: <%= tag.product.item_number.to_s %></li>
      		  <%= read_more_setup_as_paragraphs(tag.product).html_safe %>
      		  
      		  <%= formatted_dimensions(tag.product).html_safe %>
            <%= formatted_price(tag.product.price).to_s.html_safe %>
    		  </ul>

  			</span>
  		<% end %>
  	<% end %>
	</ul>	

  <% else %>
  		<p>We are working on the site.  Please check back soon.</p>
  		<p>If you would like to be emailed once we have content available. Click <%= link_to 'here', subscribe_path %></p>
  <% end %>

<p class="paginate"><%= paginate @tags %></p>
