- if current_user and !visitor_view
  %script{:language => "javascript"}
    $(document).ready(function(){
    $('#products').sortable({
    update: function(event, ui) {
    var ProductsOrder = $(this).sortable('toArray');
    $.post( 'sort_products', {products_in_order:ProductsOrder, category_id:#{@category.id}});
    }
    });
    });

.row
  .span4
    = render 'shared/heading', :heading => @category.title
.row
  .span4
    .top-pagination.no-print
      = paginate @products
%ul{:id => 'products'}
  - if @products.count > 0
    = render @products
  - else
    %li
      %p=zero_products_blurb
      %p=subscribe_blurb

.bottom-pagination.no-print
  = paginate @products
