<% if current_user %>
  <script language="javascript">
    $(document).ready(function(){
      $('#products').sortable({
        update: function(event, ui) {
          var ProductsOrder = $(this).sortable('toArray');
          $.post( 'sort_products', {products_in_order:ProductsOrder, category_id:<%= @category.id %>});
        }
      });
    });
  </script>
<% end %>


<div class="row">
  <div class="span4">
  <%= render 'shared/heading', :heading => @category.title %>
  </div>
</div>

<div class="row">
  <div class="span4">
    <div class="top-pagination no-print">
      <%= paginate @products %>
    </div>
  </div>
</div>


<ul id="products">
  <% if @products.count > 0 %>
    <% @products.each do |product| %>
      <%= render product %>
      <% end %>
  <% else %>
    <li>
      <h2>Sorry</h2>
      <p>We are working on the site.  Please check back soon.</p>
      <p>If you would like to be emailed once we have content available. Click <%= link_to 'here', subscribe_path %></p>
    </li>
  <% end %>
</ul>

<div class="bottom-pagination no-print">
  <%= paginate @products %>
</div>
