<%= form_for(@email, :html =>{:class=> 'nice'})   do |f| %>

  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field subscribe">
    <%# f.label :first, 'First Name' %>
    <%= f.text_field :first, :class => 'medium input-text', :placeholder => 'First Name'  %>
  </div>

  <div class="field subscribe">
    <%# f.label :last, 'Last Name' %>
    <%= f.text_field :last, :class => 'medium input-text', :placeholder => 'Last Name' %>
  </div>
  <div class="field subscribe">
    <%# f.label :email %>
    <%= f.text_field :email, :class => ' input-text', :placeholder => 'Email' %>
  </div>
  <div class="actions">
    <%= f.submit 'Subscribe', :class => 'small white nice button radius'  %>
  </div>
<% end %>
