<%= form_for(Show.new, :remote => true, :html =>{:class => 'nice'}) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>
      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.text_field :title, :class=> "large input-text", :placeholder => 'Title: Gardenshow'  %>
  </div>
  <div class="field">
    <%= f.text_field :url, :class=> "large input-text", :placeholder => 'Website: http://example.site.com'  %>
  </div>
  <div class="field">
    <%= f.text_field :dates, :class=> "input-text", :placeholder => 'Dates: Month DD-DD, YYYY'   %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', :class => "nice small radius button" %>
  </div>
<% end %>
