<%= form_for(@product,:html => {:id => 'image-upload' }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= image_tag(@product.image_url(:thumb_200)) if @product.image? %><br />

    <%= f.label :image, "Featured Image" %><br />
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  
  <div class="checkbox-line">
    <div class="inline_checkbox_field">
      <%= f.check_box :active %>
      <%= f.label :active %>
    </div>
    <div class="inline_checkbox_field">
      <%= f.check_box :phoebe_find %>
      <%= f.label :phoebe_find %>
    </div>
  </div>
  
  <div class="checkbox-line">
    <% Category.active.each do |category| %>
      <div class="inline_checkbox_field">
        <%= check_box_tag "product[category_ids][]", category.id, @product_categories.include?(category.id) %>
  	    <%= category.title.capitalize %>
      </div>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>
  
  <div class="field">
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


