<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :new_acquisition %><br />
    <%= f.check_box :new_acquisition %>
  </div>
  <div class="field">
    <%= f.label :phoebe_find %><br />
    <%= f.check_box :phoebe_find %>
  </div>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :period %><br />
    <%= f.text_field :period %>
  </div>

  <div class="field">
    <%= image_tag(@product.image_url(:small_thumb)) if @product.image? %><br />

    <%= f.label :image, "Featured Image" %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>



  <% Category.active.each do |category| %>
    <label>
      <%= check_box_tag "product[category_ids][]", category.id, @product_categories.include?(category.id) %>
	  <%= category.title %>
    </label>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


