= form_for(@product,:html => {:id => 'image-upload', :class => 'nice' }) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg
  #edit-product-container
    .edit-product-left
      .inline_checkbox_field.edit-product
        = f.check_box :active
        = f.label :active
      .inline_checkbox_field.edit-product
        = f.check_box :sold
        = f.label :sold
      .field
        = image_tag(@product.image_url(:thumb_100)) if @product.image?
        %br/
        = f.label :image, "Featured Image"
        %br/
        = f.file_field :image
        = f.hidden_field :image_cache
      .field
        = f.check_box :phoebe_find
        = f.label :phoebe_find
      - Category.active.order(:position).each do |category|
        .field
          = check_box_tag "product[category_ids][]", category.id, @product_categories.include?(category.id)
          = category.title.capitalize
    .edit-product-right
      .field
        = f.label :title
        %br
        = f.text_field :title, :class=> "oversize input-text"
      .field
        = f.label :country
        %br
        = f.text_field :country, :class=> "input-text"
      .field
        = f.label :period
        %br
        = f.text_field :period, :class=> "small input-text"
      .field
        = f.label :dimensions
        %br
        = f.text_field :dimensions, :class=> "small input-text"
      .field
        = f.label :price
        %br
        = f.text_field :price, :class=> "small input-text"
      .field
        = f.label :body, "Description"
        %br
        = f.text_area :body
    .actions
      = f.submit 'Save', :class => "nice small radius button"
