<%= content_tag_for :li, product do %>
  <span class="block photo">
    <%= link_to image_tag(product.image_url(:thumb_200) ), product if product.image? %>
  </span>
  <span class="block meta">
    <ul>
      <%= span_tag_if_sold?(product) %>
      <li><h3><%= link_to product.title, product %></h3></li>
      <li><%= country_and_period(product) %> </li>
      <li>Inventory Number: <%= product.item_number.to_s %></li>
      <%= read_more_setup_as_paragraphs(product).html_safe %>
      <%= formatted_dimensions(product.dimensions) %>
      <%= formatted_price(product.price) %>

      <% product.images.each do |image| %>
        <%= link_to image_tag(image.image_url(:thumb_50) ), image.image_url(:large), :class => 'single_image' %>
      <% end %>
      <li><%= link_to "Print a Tear Sheet", product_path(product, :format => 'pdf'), :class => 'print_link green' %></li>
    </ul>
    <br />
    <%= edit_button_if_logged_in(product) %>
    <%= upload_images_button_if_logged_in(product) %>
    <%= invoice_button_if_logged_in(product) %>
  </span>
<% end %>
