<%= content_tag_for :li, product do %>
	<span class="block photo">
		<%= link_to image_tag(product.image_url(:thumb_200) ), product if product.image? %>
	</span>
	<span class="block meta">
	  <h3><%= link_to product.title, product %></h3>
		<h4><%= country_and_period(product) %> </h4>
	  <p class="meta-data">Inventory Number: <%= product.item_number.to_s %></p>
		<%= read_more(product) %>
	  <%= full_dimensions(product) %>
	</span>
<% end %>
