<%= content_tag_for :li, product do %>
	<span class="block photo">
		<%= link_to image_tag(product.image_url(:thumb_300) ), product if product.image? %>
	</span>
	<span class="block meta">
	    <h3><%= link_to product.title, product %></h3>
		<h4><%= country_and_period(product) %> </h4>

	  <p class="meta-data"><%= full_dimensions(product) %></p>
	  <p class="meta-data">Inventory Number: <%= product.item_number.to_s %></p>
		<p id="product-desc"><%= read_more(product) %></p>

	</span>
<% end %>
