- if current_user
  :javascript
    $(document).ready(function(){
      $('#products').sortable({
        update: function(event, ui) {
          var productsOrder = $(this).sortable('toArray');
          $.post( 'products/sort', {ItemsOrder:productsOrder});
        }
      });
    });
.row
  .span4
    = render 'shared/heading', :heading => 'All Products'
.row
  .span4
    .top-pagination.no-print
      = paginate @products
%ul#products
  - if @products.count > 0
    - @products.each do |product|
      = render product
  - else
    %li
      %p=zero_products_blurb

      %p
        If you would like to be emailed once we have content available. Click #{link_to 'here', subscribe_path}
.bottom-pagination.no-print
  = paginate @products
