<% if user_signed_in? %>
	<script language="javascript">
		$(document).ready(function(){
			$('#products').sortable({
				update: function(event, ui) {
					var ProductsOrder = $(this).sortable('toArray');
					$.post( 'products/sort', {ProductsOrder:ProductsOrder});
					//$.post( "%#{sort_products_path}", {ProductsOrder:ProductsOrder});
				}
			});
		});
	</script>
<% end %>

<ul id="products">

<% if @products.count > 0 %>

	<% @products.each do |product| %>
		
		<%= content_tag_for :li, product do %>
			<span class="block photo">
				<%= link_to image_tag(product.image_url(:thumb_300) ), product if product.image? %>
			</span>
			<span class="block meta">
			    <h3><%= link_to product.title, product %></h3>
				<h4><%= country_and_period(product) %> </h4>

				<p class="dimensions"><%= full_dimensions(product) %></p>
				<p><%= read_more(product) %></p>
		
			</span>
		<% end %>

	<% end %>

<% else %>
<li>
	<h2>Sorry</h2>
	<p>We are working on the site.  Please check back soon.</p>
	<p>If you would like to be emailed once we have content available. Click <%= link_to 'here', subscribe_path %></p>
</li>

<% end %>
</ul>