
<% if user_signed_in? %>

	<script language="javascript">
		$(document).ready(function(){
			$('#products').sortable({
				update: function(event, ui) {
					var ProductsOrder = $(this).sortable('toArray');
					$.post( 'sort', {ProductsOrder:ProductsOrder});
				}
			});
		});
	</script>
<% end %>

<ul id="products">

<% @products.each do |product| %>
		
	<%= content_tag_for :li, product do %>
		<span class="block photo">
			<%# link_to image_tag(product.image_url(:thumb) ), product %>	  
			<%= link_to image_tag(product.image_url(:thumb) ), product if product.image? %>
		</span>
		<span class="block meta">
		    <h3><%= link_to product.title, product %></h3>
			<h4><%= country_and_period(product) %> </h4>
			<p><%= read_more(product) %></p>
		
		</span>
	<% end %>

<% end %>
</ul>

<% if user_signed_in? %>
	<%= link_to 'New Product', new_product_path %>
<% end %>
