<div id="show-product">
	<span class="block photo">
	  <ul>
		  <li class="featured">
		    <%= link_to image_tag(@product.image_url(:thumb_300) ), @product.image_url(:large), :class => 'single_image' %>
		  </li>
		  <% @product.images.each do |i| %>
			  <li><%= link_to image_tag(i.image_url(:thumb_200) ), i.image_url(:large), :class => 'single_image' %></li>
		  <% end %>
		</ul>
	</span>
	<span class="block show-meta">
	  
	  <ul>
		  <li><h3><%= @product.title %></h3></li>
			<li><%= country_and_period(@product) %></li>
		  <li>Inventory Number: <%= @product.item_number %></li>
		  <%= setup_paragraphs(@product).html_safe %>		  
		  <%= formatted_dimensions(@product).html_safe %>
      <%= formatted_price(@product.price).to_s.html_safe %>
	  </ul>
	  
		<% if user_signed_in? %>
			<%= link_to 'Edit', edit_product_path(@product), :class=>"admin-link" %> <br />
			<%= link_to 'Upload Images', product_images_path(@product), :class=>"admin-link" %><br />
			<p class="timestamps">
			  Created on <%= @product.created_at.strftime("%m/%d/%Y at %I:%M %p") %><br />
			  Updated on <%= @product.updated_at.strftime("%m/%d/%Y at %I:%M %p") %>
			</p>
		<% end %>
		
	</span>

</div>


<script language="javascript">
$(document).ready(function() {
	/* This is basic - uses default settings */
	$("a.single_image").fancybox();
	/* Using custom settings */
});
</script>
