<div id="show-product">
  <span class="block photo">
    <ul id="images">
      <li class="featured">
        <%= link_to image_tag(@product.image_url(:thumb_300) ), @product.image_url(:large),
          :class => 'single_image' if @product.image? %>
      </li>
    </ul>

      <ul class="additonal-images">
      <%= render @product.images %>
      </ul>
  </span>
  <span class="block show-meta">
    <%= span_tag_if_sold?(@product) %>

	  <ul>
    <li><h3><%= @product.title %></h3></li>
    <li><%= country_and_period(@product) %></li>
    <li>Inventory Number: <%= @product.item_number %></li>
      <%= setup_paragraphs(@product).html_safe %>
      <%= formatted_dimensions(@product.dimensions) %>
      <%= formatted_price(@product.price) %>
      <li><%= link_to "Print a Tear Sheet", product_path(@product, :format => 'pdf'), :class => 'print_link green' %></li>

    </ul>

    <% if current_user %>

    <p>
      <input id="fileupload" class="fileupload2" type="file" name="image[image]" multiple class="btn no-print">
    </p>
      <p>
      <%= link_to 'Edit', edit_product_path(@product), :class => "nice small white radius button no-print" %>
      <%= link_to 'Invoice', invoice_product_setup_path(Invoice, @product), :class => "nice small white radius button no-print" %>
      <%= link_to 'Delete', @product, confirm: "Are you sure?", method: :delete, :class => "nice small red radius button" %>
      </p>

      <div class="widget no-print">
        <h4>Categories</h4>
        <ul class="categories">
          <%= render @product.categories %>
        </ul>
      </div>

      <div class="widget no-print">
        <h4>Keyword Tags</h4>
        <ul id="keywords">
          <%= render @product.keywords, :locals => { :list => true } %>
        </ul>

        <div id="keyword-form">
          <%= form_for([@product, Keyword.new], :remote => true, :html => {:class=> "nice"}) do |f| %>
            <div class="field edit-product">
              <%= f.text_field :title, :class => "small input-text", :placeholder => "keyword" %>
            </div>
            <div class="actions">
              <%= f.submit 'Save Keyword', :id => "keyword-submit", :class => "nice small radius button" %>
            </div>
          <% end %>
        </div>
      </div>

      <p class="timestamps no-print">
        Created on <%= @product.created_at.strftime("%m/%d/%Y at %I:%M %p") %><br />
        Updated on <%= @product.updated_at.strftime("%m/%d/%Y at %I:%M %p") %>
      </p>
    <% end %>
  </span>

</div>



<%# javascript_include_tag 'jquery.ui.widget.js' %>
<%# javascript_include_tag 'jquery.iframe-transport.js' %>
<%= javascript_include_tag 'jquery.fileupload.js' %>




<script>

$(function () {

    $('#fileupload').fileupload({

        dataType: 'json',
        url: '<%= product_images_path(@product.id) %>',
        done: function (e, data) {
            $.each(data.result, function (index, response) {
               $('<li><img src="'+response+'"></li>').appendTo('.additonal-images');
            });

            //$('#spinner').hide();
        }
    });
});
</script>

