<div id="show-product">
	<span class="block photo">
		<%= link_to image_tag(@product.image_url(:thumb) ), @product.image_url(:large), :class => 'single_image' %>	  
		<%# image_tag product.image_url(:thumb) if product.image? %>
		
		<% @product.images.each do |i| %>
			<%= link_to image_tag(i.image_url(:small_thumb) ), i.image_url(:large), :class => 'single_image' %>
		<% end %>
		
	</span>
	<span class="block meta">
	    <h3><%= @product.title %></h3>
		<h4><%= country_and_period(@product) %> </h4>
		
		<p class="dimensions"><%= full_dimensions(@product) %></p>
		<p><%= @product.body %></p>
		
		<% if user_signed_in? %>
			<%= link_to 'Back', products_path %> |
			<%= link_to 'Edit', edit_product_path(@product) %> <br />
			<%= link_to 'Manage Images', product_images_path(@product)%><br />
			<%= link_to 'Manage Dimensions', product_measurements_path(@product)%><br />
			Created on <%= @product.created_at.strftime("%m/%d/%Y at %I:%M %p") %><br />
			Updated on <%= @product.updated_at.strftime("%m/%d/%Y at %I:%M %p") %>
			
		<% end %>
		
	</span>

</div>


<script language="javascript">
$(document).ready(function() {

	/* This is basic - uses default settings */
	$("a.single_image").fancybox();
	
	/* Using custom settings */
	
});
</script>