#show-product
  %span.block.photo
    %ul.thumbnails
      %li.featured
        - if @product.image?
          = link_to image_tag(@product.image_url(:thumb_300) ), @product.image_url(:large), :class => 'single_image thumbnail'
        -else
          = link_to image_tag('no_image.png'), @product
    %ul.thumbnails
      = render @product.images
  %span.block.show-meta
    = tag_if_sold(@product)
    = tag_if_inactive(@product)
    %ul
      %li
        %h3= @product.title
      %li= country_and_period(@product)
      %li
        Inventory Number: #{@product.item_number}
      = setup_paragraphs(@product).html_safe
      = formatted_dimensions(@product.dimensions)
      = formatted_price(@product.price)
      %li= link_to "Print a Tear Sheet", product_path(@product, :format => 'pdf'), :class => 'print_link green'

    - if current_user and !visitor_view
      %p
        %input#fileupload.btn.no-print{:multiple => "", :name => "image[image]", :type => "file"}
      %p
        = link_to 'Edit', edit_product_path(@product), :class => "nice small white radius button no-print"
        = link_to 'Invoice', invoice_product_setup_path(Invoice, @product), :class => "nice small white radius button no-print"
        = link_to 'Delete', @product, :data => {confirm: "Are you sure?"}, method: :delete, :class => "nice small red radius button"
      .widget.no-print
        %h4 Categories
        %ul.categories
          = render @product.categories
      .widget.no-print
        %h4 Keyword Tags
        %ul#keywords
          = render @product.keywords, :locals => { :list => true }
        #keyword-form
          = form_for([@product, Keyword.new], :remote => true, :html => {:class=> "nice"}) do |f|
            .field.edit-product
              = f.text_field :title, :class => "small input-text", :placeholder => "keyword"
            .actions
              = f.submit 'Save Keyword', :id => "keyword-submit", :class => "nice small radius button"
      %p.timestamps.no-print
        Created on #{@product.created_at.strftime("%m/%d/%Y at %I:%M %p")}
        %br
        Updated on #{@product.updated_at.strftime("%m/%d/%Y at %I:%M %p")}
      %span.label
        = link_to 'Show Notes', "#", :id=> 'notes_toggle'



- if current_user
  .row.notes
    .span6
      = render @notes
      = render :partial => 'notes/form',:locals => { :parent => @product }

