<%= content_tag(:tr, line_item, :id => "line_item_#{line_item.id}") do %>
  <td><%= line_item.position %></td>
  <td><%= line_item.item_number %></td>
  <td><%= line_item.description %></td>
  <td><%= line_item.dimensions %></td>
  <td><%= line_item.quantity %></td>
  <td class="currency"><%= number_to_currency(line_item.price) %></td>
  <td class="currency"><%= number_to_currency(line_item.tax) %></td>
  <td class="currency"><%= number_to_currency(line_item.total) %></td>
<% end %>
