<%= form_for([@product, @image],:html => {:id => 'image-upload' })   do |f| %>

  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= image_tag(@image.image_url(:thumb_200)) if @image.image? %><br />

  <div class="field">
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>

  </div>
  <div class="actions">
    <%= f.submit :id => 'upload-button' %>
  </div>
<% end %>
