<%= link_to "Back", product_path(@product), :class => 'back' %>
<h1 class="status"><%= @product.title %></h1>



<ul>    
  <li>
    <%= image_tag @product.image_url(:thumb_200) %>
    <%= link_to 'Edit Product', edit_product_path(@product), :class=>"admin-link" %>
  </li>
<% @images.each do |image| %>
  <li>
    <%= image_tag image.image_url(:thumb_200) %>
    <%# link_to 'Show', image %>
    <%= link_to 'Edit', edit_image_path(image), :class=>"admin-link"  %>
  <%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete, :class=>"admin-link"  %>
  </li>
<% end %>
</ul>

<%= link_to 'Add Image', new_product_image_path(@product), :class=>"admin-link"  %>
