
<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<tr>
	<td><%= image_tag @product.image_url(:thumb_200) %></td>
	<th>**Featured Image. To modify this image go to <%= link_to 'Product', edit_product_path(@product) %></th>
    <th></th>
    <th></th>
    
</tr>
<% @images.each do |image| %>
  <tr>
    <td><%= image_tag image.image_url(:thumb_200) %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Image', new_product_image_path(@product) %>
