<% if current_user %>

 <div class="navbar navbar-fixed-top no-print">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <%= link_to "Phoebe Booth Antiques", root_url, :class => 'brand' %>
          <div class="nav-collapse">

            <ul class="nav">

              <li><%= link_to 'Home Images', sliders_path %></li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'List Categories', categories_path %></li>
                  <li><%= link_to 'New Category', new_category_path %></li>
                  <% Category.active.order(:position).each do |category|%>
                    <%= content_tag_for :li, category do %>
                      <%= link_to capitalize_title(category), category %>
                    <% end %>
                  <% end %>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'List Products', products_path %></li>
                  <li><%= link_to 'New Product', new_product_path %></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subscribers <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'List Subscribers', contacts_path %></li>
                    <% Group.all.each do |group| %>
                      <li><%=link_to group.title, group %></li>
                    <% end %>
                  <li><%= link_to 'New Subscriber', new_contact_path %></li>
                </ul>
              </li>

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Invoices <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'List Invoices', invoices_path %></li>
                  <li><%= link_to 'New Invoice', Invoice.new, :method => 'post' %></li>
                </ul>
              </li>

              <li><%= link_to 'Shows', shows_path %></li>
            </ul>


            <ul class="nav pull-right">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <%= current_user.email %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Change Password", change_password_path %></li>
                  <li><%= link_to "Toggle Toolitps", toggle_tooltip_path(current_user), :method => 'put', :remote => true %></li>
                  <li><%= link_to "Tasks", tasks_path %></li>
                  <li><%= link_to "logout", logout_path %></li>
                </ul>
              </li>
            </ul>


          </div>
        </div>
      </div>
</div>

<% end %>
