%li= link_to 'HOME', root_url, :class => "norm"
%li= link_to 'ABOUT', about_url, :class => "norm"
%li= link_to 'SEARCH', search_url, :class => "norm"
%li.nav-finds=link_to '-', phoebes_finds_url, :class => "finds"
%li= link_to 'SUBSCRIBE', subscribe_url, :class => "norm"
%li= link_to 'UPCOMING SHOWS AND PRESS', contact_us_url, :class => "norm"
