<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Phoebe Booth Antiques LLC</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag "application" %>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	<%= csrf_meta_tags %>
</head>

<body>


  <div id="notifications"> 
    <%= render 'layouts/notifications' %>
  </div>   


	<div id="wrapper">

		
  	<div id="spinner" class="spinner" style="display:none;">
  	  <p>Please Wait...</p>
  		<%= image_tag 'loading.gif', :alt => 'Loading', :id => 'img-spinner' %>
  	</div>
  
      <div id="header">
				<h1><%=link_to image_tag("phoebe_header2.gif"), root_url %></h1>
      </div>

	    <div id="navigation">	
				<%= render 'layouts/navigation' %>
			</div>
					
			<div id="leftcolumn">
				
				<div id="sidebar">
					<ul id="categories"> 
						<%= render 'layouts/sidebar' %>
					</ul> 
				</div>
				<div id="admin-links">
						<%= render 'layouts/admin_links' %>
				</div>

			</div>

			<div id="rightcolumn">
				<%= yield %>			
			</div>
	
		<div class="footer_style" id="footer">
			<div class="left-col">
				&copy;<%=Time.now.year %> Phoebe Booth Antiques LLC All Rights Reserved
			</div>
		
			<div id="contact-info">
				<p><strong>Contact Information:</strong></p>
				<p>phoebe@phoebeboothantiques.com</p>
				<p>917-597-4368</p>
			</div>
		</div>
	
</div>

</body>
</html>