!!! 5
%html.no-js{:lang => "en"}
  = render 'layouts/head'
  %body
    - if current_user and !visitor_view
      :javascript
        $(document).ready(function(){
          $('#categories').sortable({
              update: function(event, ui) {
              var categoriesOrder = $(this).sortable('toArray');
              $.post("#{sort_categories_path}", {ItemsOrder:categoriesOrder});
            }
          });
        });
      :css
        #wrapper{margin-top:42px}
      = render 'layouts/admin_nav'
    = render 'layouts/notifications'
    #wrapper
      - unless current_user and !visitor_view
        #header
          %h1= link_to image_tag("phoebe_booth.gif"), root_url
      .navigation
        %ul
          = render 'layouts/navigation'
      #leftcolumn
        #sidebar
          %ul#categories
            = render :partial => 'layouts/category', :collection => Category.active.order(:position)
      #rightcolumn
        = yield
      #footer.footer_style
        = render 'layouts/footer'
      #spinner{:style => "display:none"}
        %span Loading...
