<!DOCTYPE html>
<html>
<head>
  <title>phoebeboothanitques.com</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Start Page Container -->
<div id="container_wrap">
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
	<div id="header">
		<h1>Phoebe Booth Antiques</h1> 
		<ul id="nav">			
			<%= render 'layouts/navigation' %>
		</ul>
	</div>
	
	<div id="homepage" class="main_content">	
		<div class="sidebar">
			<ul>
				<%= render 'layouts/sidebar' %>
			</ul>
		</div>
		<div class="main_right">
			<%= yield %>			
		</div>
	</div>
	
	<!-- Start Footer -->
	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>
	<!-- End Footer -->
	
</div>
<!-- End Page Container -->

</body>
</html>
