<!DOCTYPE html>
<html>
<head>
  <title>phoebeboothanitques.com</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	
	<div class="head row">
		<div class="column grid_3">
			<p></p>
		</div>
		<div class="column grid_9">
			<h1><%= link_to 'Phoebe Booth Antiques', root_url %></h1>
		</div>	
	</div>

	<div id="navigation-row" class="navigation head row">	
	
		<div class="column grid_12">
			<ul id="navigation">
				<li><%= link_to 'Home', root_url %></li>
				<li><%= link_to 'Products', products_url %></li>
				<li><%= link_to 'Categories', categories_url %></li>
			</ul>	
			
		</div>
	</div>	

	<div class="body row">
		<div class="side-navigation column grid_3">
			<ul>
				<% Category.active.each do |category|%>
				<li><%= link_to category.title, category %></li>
				<% end %>
				
			</ul>
		</div>	
		<div class="column grid_9 inner-content">
			<%= yield %>
		</div>	
		
	</div>	



	<div class="foot row">
		<div class="column grid_12">
			<p>Footer</p>
		</div>	
	</div>
	
</div>

</body>
</html>
